* {
  padding: o;
  margin: 0;
  box-sizing: border-box; }

.body__fondo, body {
  background-image: linear-gradient(rgba(34, 34, 53, 0), rgba(255, 255, 0, 0.5)), url(../imagen/logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: none; }

body {
  background-image: linear-gradient(rgba(5, 5, 22, 0), rgba(255, 255, 0, 0.5)); }

.img-fluid {
  border-style: outset;
  border-radius: 5%; }

h1 {
  padding: 3% 2% 1% 2%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-shadow: 3px 5px 5px #585744; }

.animate__flipInX {
  color: #fc1111; }

footer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 85px;
  width: 100%; }
  footer div {
    display: flex;
    width: 50%;
    align-items: center; }
    footer div p {
      justify-content: center;
      padding-top: 1rem;
      padding-left: 1%;
      font-size: 15px; }
    footer div a {
      justify-content: center;
      margin-right: 1%;
      margin-left: 2rem;
      font-size: 25px;
      color: #f8b863; }

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 0;
  width: 50%;
  margin-right: 4px; }
  .footer li {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 20%;
    font-size: 25px;
    margin-right: 3px; }
    .footer li a {
      color: #f8b863; }

section p {
  margin: 4%;
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif; }

.principal {
  display: flex;
  justify-content: center;
  padding: 2%; }
  .principal img {
    width: 60%;
    border-style: outset;
    border-radius: 5%;
    margin: 1%; }

.galeria__padding img {
  right: 5px;
  margin: 2px;
  border-style: outset;
  border-radius: 5%; }

.col {
  display: flex;
  justify-content: center; }

iframe {
  padding: 3px; }

.btn {
  margin-top: 2%; }

.grilla__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto); }

.grilla__grid div {
  text-align: center;
  width: 100%; }

.grilla__grid img {
  width: 90%; }

.texto__titulo {
  grid-column: 1 / 3; }

.img__grid1 {
  grid-column: 1 / 2; }

.img__grid2 {
  grid-column: 2 / 3; }

.texto__titulo--segundo {
  grid-column: 1 / 3; }

.img__grid3 {
  grid-column: 1 / 2; }

.img__grid4 {
  grid-column: 2 / 3; }

@media screen and (max-width: 840px) {
  iframe {
    width: 319px !important; } }

@media screen and (min-width: 770px) {
  .nav-item {
    transition: all 1s;
    font-size: small; }
    .nav-item:hover {
      background-color: #f7ebdd;
      font-size: 15px;
      border-style: solid;
      border-radius: 6px; }
  footer a {
    transition: all 1s; }
    footer a:hover {
      background-color: #f7ebdd;
      font-size: 25px;
      border-radius: 3px; }
  footer li {
    transition: all 1s; }
    footer li:hover {
      background-color: #f7ebdd;
      font-size: 25px;
      border-radius: 3px; }
  button {
    transition: all 1s; }
    button:hover {
      padding: 1px 2px;
      width: 150px;
      font-size: 25px; } }

@media screen and (max-width: 768px) {
  footer div p {
    font-size: small; }
  footer div a {
    font-size: 20px; }
  .footer a {
    font-size: 20px; }
  .principal img {
    width: 100%; } }

@media screen and (max-width: 740px) {
  .grilla__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto); }
  .texto__titulo {
    grid-column: 1 /2; }
  .img__grid2 {
    grid-column: 1 /2; }
  .texto__titulo--segundo {
    grid-column: 1 /2; }
  .img__grid4 {
    grid-column: 1 /2; } }
