footer {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 85px;
    width: 100%;




    div {
        display: flex;
        width: 50%;
        align-items: center;

        p {
            justify-content: center;
            padding-top: 1rem;
            padding-left: 1%;
            font-size: 15px;
        }

        a {
            justify-content: center;
            margin-right: 1%;
            margin-left: 2rem;
            font-size: 25px;
            color: $icon;


        }
    }
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 0;
    width: 50%;
    margin-right: 4px;



    li {

        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 20%;
        font-size: 25px;
        margin-right: 3px;

        a {
            color: $icon;
        }

    }
}