$colorhover: rgb(181, 216, 247);
$shadow: rgb(88, 87, 68);
$gradienti: (
    rgba(34, 34, 53, 0),
    rgba(255, 255, 0, 0.5)
);
$gradientcolor: (
    rgba(5, 5, 22, 0),
    rgba(255, 255, 0, 0.5)
);
$size_parrafo: (
    weight: bold,
    size: large,
);
