$colorhover: rgb(247, 235, 221);
$shadow: rgb(88, 87, 68);
$icon:rgb(248, 184, 99);
$gradienti: (
    rgba(34, 34, 53, 0),
    rgba(255, 255, 0, 0.5)
);
$gradientcolor: (
    rgba(5, 5, 22, 0),
    rgba(255, 255, 0, 0.5)
);
$size_parrafo: (
    weight: bold,
    size: large,
);
