@media screen and (max-width: 840px) {
    iframe {
        width: 319px !important;
    }

   
}


@media screen and (min-width: 770px) {
    .nav-item {
        transition: all 1s;
        font-size: small;


        &:hover {
            @include hover ($colorhover, 15px);
            border-style: solid;
            border-radius: 6px;
            
        }
    }

    footer {

        a {
            transition: all 1s;
            

            &:hover {
                @include hover ($colorhover, 25px);
                border-radius: 3px;
            }
        }

        li {
            transition: all 1s;
           

            &:hover {
                @include hover ($colorhover, 25px);
                border-radius: 3px;
            }
        }
    }

    button {

        transition: all 1s;

        &:hover {
            padding: 1px 2px;
            width: 150px;
            font-size: 25px;
        }

    }

}

@media screen and (max-width: 768px) {

    footer {
        div {
            p {
                font-size: small;
            }

            a {
                font-size: 20px;
            }
        }
    }

    .footer {
        a {
            font-size: 20px;
        }
    }

    .principal img {
        width: 100%;

    }

}

@media screen and (max-width: 740px) {
    .grilla__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);

    }

    .texto__titulo {
        grid-column: 1 /2;
        
    }


    .img__grid2 {
        grid-column: 1 /2;


    }

    .texto__titulo--segundo {
        grid-column: 1 /2;
    }


    .img__grid4 {
        grid-column: 1 /2;


    }

}